{% extends "base.html" %}

{% block content %}

<div class="auth-wrapper">

<div class="auth-card">

<h2>Login</h2>

<form method="post">

{% csrf_token %}

<div class="form-group">

<input type="text" name="username" placeholder="Username" required>

</div>

<div class="form-group password-box">

<input type="password" name="password" id="password" placeholder="Password" required>

<span class="toggle-password" onclick="togglePassword('password')">👁</span>

</div>

<button type="submit" class="primary-btn">Login</button>

</form>

<div class="auth-switch">

<span>Don't have an account?</span>

<a href="/register/" class="secondary-btn-inline">Register</a>

</div>

</div>

</div>

{% endblock %}