{% extends "base.html" %}

{% block content %}

<div class="card auth-card shadow p-4">

<h3 class="text-center mb-4">Login</h3>

{% if form.errors %}
<div class="alert alert-danger">
Invalid username or password
</div>
{% endif %}

<form method="post">

{% csrf_token %}

<div class="mb-3">
<label>Username</label>
{{ form.username }}
</div>

<div class="mb-3">
<label>Password</label>
{{ form.password }}
</div>

<button class="btn btn-primary w-100">Login</button>

</form>

<p class="text-center mt-3">
Don't have an account?
<a href="/register/">Register</a>
</p>

</div>

{% endblock %}