{% load static %}

<!DOCTYPE html>
<html>
<head>

<title>Smart Study Manager</title>

<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

<nav class="navbar">

<div class="logo">
Smart Study Manager
</div>

<div class="nav-links">

{% if user.is_authenticated %}

<a href="/dashboard/">Dashboard</a>
<a href="/profile/">Profile</a>

<form method="post" action="{% url 'logout' %}">
{% csrf_token %}
<button class="logout-btn">Logout</button>
</form>

{% else %}

<a href="/">Home</a>
<a href="/accounts/login/">Login</a>
<a href="/register/">Register</a>

{% endif %}

</div>

</nav>


{% if messages %}
<div style="text-align:center;margin-top:10px;">
{% for message in messages %}
<div style="display:inline-block;background:#10b981;color:white;padding:8px 14px;border-radius:6px;margin:5px;">
{{ message }}
</div>
{% endfor %}
</div>
{% endif %}


{% block content %}

{% endblock %}


<script>

function togglePassword(id){

const field = document.getElementById(id)

if(field.type === "password"){
field.type = "text"
}else{
field.type = "password"
}

}


document.addEventListener("input", function(e){

if(e.target.id === "id_password1"){

const password = e.target.value
const indicator = document.getElementById("password-indicator")

if(password.length < 6){
indicator.style.background = "#ef4444"
}

else if(password.length < 10){
indicator.style.background = "#f59e0b"
}

else{
indicator.style.background = "#10b981"
}

}

})


document.querySelectorAll("form").forEach(form=>{
form.addEventListener("submit",()=>{
const btn = form.querySelector(".primary-btn")

if(btn){
btn.disabled = true
btn.innerText = "Processing..."
}
})
})

</script>
<footer class="app-footer">
© 2026 Smart Study Manager • Built with Django
</footer>
</body>
</html>