{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="card p-3 mb-3">
    <h5>Statistics</h5>
    <p>Total Tasks: {{ total_tasks }}</p>
    <p>Completed Tasks: {{ completed_tasks }}</p>
    <p>Progress: {{ progress }}%</p>
</div>

<a href="/add/" class="btn btn-primary mb-3">Add New Task</a>
<form method="get" class="row mb-3">
        <div class="col-md-4">
            <input type="text" name="q" class="form-control" placeholder="Search tasks...">
        </div>
        <br>
        <div class="col-md-3">
            <select name="status" class="form-select">
                <option value="">All</option>
                <option value="completed">Completed</option>
                <option value="pending">Pending</option>
            </select>
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-secondary">Filter</button>
        </div>
</form>
<br>

{% for task in tasks %}
<div class="card mb-3 p-3">
    <h5>
        {% if task.completed %}
            <s>{{ task.title }}</s>
        {% else %}
            {{ task.title }}
        {% endif %}
    </h5>

    <p>{{ task.description }}</p>
    <p><strong>Deadline:</strong> {{ task.deadline }}</p>

    {% if not task.completed %}
        <a href="/complete/{{ task.id }}/" class="btn btn-success btn-sm">Mark Complete</a>
    {% endif %}

    <a href="/delete/{{ task.id }}/" class="btn btn-danger btn-sm">Delete</a>
</div>
{% empty %}
<p>No tasks yet.</p>
{% endfor %}

{% endblock %}