{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="progress mb-3">
  <div class="progress-bar" role="progressbar" 
       style="width: {{ progress }}%;" 
       aria-valuenow="{{ progress }}" 
       aria-valuemin="0" 
       aria-valuemax="100">
    {{ progress }}%
  </div>
</div>

<a href="/add/" class="btn btn-primary mb-3">Add New Task</a>
<form method="get" class="row mb-3">
        <div class="col-md-4">
            <input type="text" name="q" class="form-control" placeholder="Search tasks...">
        </div>
        <br>
        <div class="col-md-3">
            <select name="status" class="form-select">
                <option value="">All</option>
                <option value="completed">Completed</option>
                <option value="pending">Pending</option>
            </select>
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-secondary">Filter</button>
        </div>
</form>
<br>

{% for task in tasks %}
<div class="card mb-3 p-3">
    
    <h5>
        {% if task.completed %}
            <s>{{ task.title }}</s>
        {% else %}
            {{ task.title }}
        {% endif %}
    </h5>
    <p>{{ task.description }}</p>
    <p class="text-muted small">
        Created on {{ task.created_at|date:"M d, Y H:i" }}
        • {{ task.created_at|timesince }} ago
    </p>
    <p><strong>Deadline:</strong> {{ task.deadline }}</p>

<a href="/toggle/{{ task.id }}/"
   class="btn {% if task.completed %}btn-warning{% else %}btn-success{% endif %} btn-sm">
   {% if task.completed %}
       Undo
   {% else %}
       <button type="submit" class="btn btn-success btn-sm">Complete</button>
   {% endif %}
</a>
<form action="/delete/{{ task.id }}/" method="post" class="d-inline">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm"
    onclick="return confirm('Are you sure you want to delete this task?');">
    Delete
</button>
<a href="/edit/{{ task.id }}/" class="btn btn-secondary btn-sm">Edit</a>
</form>
</div>
{% empty %}
<p>No tasks yet.</p>
{% endfor %}

{% endblock %}